<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <display-name>quad-example</display-name>

  <context-param>
    <param-name>wicket.configuration</param-name>
    <param-value>deployment</param-value>
  </context-param>


    <!-- #################### -->
    <!-- # Wicket           # -->
    <!-- #################### -->

  <filter>
    <filter-name>wicketapp</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>org.apache.solr.spatial.demo.app.WicketApplication</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>wicketapp</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



    <!-- #################### -->
    <!-- # Solr             # -->
    <!-- #################### -->
   
  <filter>
    <filter-name>SolrRequestFilter</filter-name>
    <filter-class>org.apache.solr.servlet.SolrDispatchFilter</filter-class>
    <init-param>
      <param-name>path-prefix</param-name>
      <param-value>/solr</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>SolrRequestFilter</filter-name>
    <url-pattern>/solr/*</url-pattern>
  </filter-mapping>


    <!-- #################### -->
    <!-- # Grid Servlet     # -->
    <!-- #################### -->
   
    <servlet>
      <servlet-name>GridServlet</servlet-name>
      <servlet-class>org.apache.solr.spatial.demo.servlet.GridInfoServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
      <servlet-name>GridServlet</servlet-name>
      <url-pattern>/grid</url-pattern>
    </servlet-mapping>
    

</web-app>
